@charset "UTF-8";

.parent-box {
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  margin: auto;
  position: relative;
}

.child-box {
  width: 100px;
  height: 100px;
  text-align: center;
}

.box-1 {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  position: absolute;
  z-index: 10;
  /* line-height: 100; */
}

.box-2 {
  background-color: #7084de;
  top: 120px;
  left: 280px;
  position: absolute;
  z-index: 20;
}

.box-3 {
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  position: absolute;
  z-index: 30;
  /* line-height: 100; */
}

.box-4 {
  background-color: #8b7a5e;
  top: 280px;
  left: 280px;
  position: absolute;
  z-index: 40;
  /* line-height: 100; */
}

.box-5 {
  background-color: #9fd6d2;
  top: 360px;
  left: 200px;
  position: absolute;
  z-index: 50;
  /* line-height: 100; */
}

.box-6 {
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  position: absolute;
  z-index: 60;
  /* line-height: 100; */
}

.box-7 {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  position: absolute;
  z-index: 70;
  /* line-height: 100; */
}

.box-8 {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  position: absolute;
  z-index: 80;
}

.box-8::before {
  content: "";
  display: block;
  background-color: #ffefd3;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  position: absolute;
}

.q3_fixed_box {
  right: 50px;
  bottom: 50px;
  position: fixed;
}

/* q3が終わったら
q4のcssはq4フォルダの中のcssファイルに記述してください */