@charset "UTF-8";

.q5_white {
  width: 400px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.is-float {
  float: left;
  margin-left: 60px;
}

.is-float:first-child {
  margin: 0;
}

.parent {
  display: table;
}

.child {
  display: table-cell;
  padding-left: 60px;
}

.child:first-child {
  padding: 0;
}

.inline-block {
  display: inline-block;
  margin-left: 60px;
}

.inline-block:first-child {
  margin: 0;
}

.flex {
  display: flex;
  justify-content:space-between
}

.calc {
  margin-left: 25px;
  width: calc((100% - 50px ) / 3);
}

.calc:first-child {
  margin-left: 0;
}
/* q5が終わったら
q6のcssはq6フォルダの中のcssファイルに記述してください */