@charset "UTF-8";

.table {
  table-layout: fixed;
  width: 100%;
  border: #dedede;
}

.th {
  font: white;
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
}

/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */